<div>
  <p><%= notification.user.email %> has <%= notification.action %> a chat with you!</p>
  <%= link_to "join", consultation_path(notification.user.consultations.last), class: "btn btn-primary" %>
</div>
