<div class="messages notification-bar" id="request-notification" data-redirect="<%= consultation_path(notification.user.consultations.last)%>">
  <p><%= notification.user.name %> has <%= notification.action %> a chat with you!</p>
  <%= link_to "", consultation_path(notification.user.consultations.last)%>
</div>
