<div class="messages notification-bar" id="request-notification" data-redirect="<%= consultation_path(notification.user.consultations.last)%>">
  <p class="notification-message">You have a new request!</p>
  <%= link_to "", consultation_path(notification.user.consultations.last)%>
</div>
