// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$darkblue: #091925;
$tealslate: #548088;
$matteteal: #82AAA2;
$paleteal: #A4BDBB;
$gray: #C4C4C4;
$cream: #F2E9D0;
