<div style="display:flex; justify-content: space-between;">
  <h1>My pets</h1>
  <%= link_to "â• Add a pet", new_pet_path %>
</div>

<% @pets.each do |p| %>
<%= p.name %>
<%= p.species %>
<%= p.breed %>
<% end %>
