<div class="container-center-items">
  <h1 class="mt-5 mb-3">Add a pet</h1>

  <% if current_user.pets.count == 0 %>
    <h3 style="color:#548088;">Please add a pet to consult a veterinarian</h3>
    <div class="new-pet">
      <%= render 'shared/pet_form' %>
    </div>
  <% else %>
    <div class="new-pet">
      <%= render 'shared/pet_form' %>
    </div>
  <% end %>
</div>
