<div class="footer mt-5">
  <div class="footer-links">
    <% if current_user.pets.count == 0 %>
      <%= link_to "Consult a veterinarian now", new_user_pet_path(@user)  %>
    <% else %>
      <%= link_to 'Consult a veterinarian now', new_consultation_path  %>
    <% end %>
  </div>
</div>
