<nav role="navigation">
 <div class="nav-content">
  <div id="menuToggle">
    <input type="checkbox" />
      <span></span>
       <span></span>
      <span></span>
      <ul id="menu">
              <%= link_to "My profile", my_profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "My consultations", my_consultations_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
       </ul>
    </div>
      <div class="avatar-profile">
       <%= cl_image_tag @user.photo.key, :height=> 40, :width=> 40, :radius=>"max", :crop=>"fill" if current_user && current_user.photo.attached? %>
      </div>
  </div>
</nav>
