<nav role="navigation">
 <div class="nav-content">
  <div id="menuToggle">
    <input type="checkbox" />
      <span></span>
       <span></span>
      <span></span>
      <ul id="menu">
        <li><a class="nav-link" href="#">Profile</a></li>
        <li><a class="nav-link" href="#">Pets</a></li>
        <li><a  class="nav-link" href="#">Consultations</a></li>
       </ul>
    </div>
    <a class="navbar-brand" href="#">
       <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png">
    </a>
  </div>
</nav>
