<section id="title">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h1>Find a veterinarians within few minutes</h1>
        <button type="button" class="btn btn-dark btn-lg action-button">Sign Up</button>
        <button type="button" class="btn btn-outline-dark btn-lg action-button">Sign In</button>
      </div>
      <div class="col-lg-6">
        <%= image_tag "dog-cat.png", class: "title-image" %>
      </div>
    </div>
  </div>
</section>
