

<div class="container-md">
  <div class="my-2">
    <%= link_to consultation_receipt_path(@feedback.consultation, @feedback.consultation.receipt), style:"text-decoration:none;" do %>
      <i class="fa-solid fa-chevron-left"></i> <span>Back to receipt</span>
    <% end %>

    <h1 class="my-3">Your feedback</h1>
  </div>

  <div>
    <p class="mb-0 mt-2">Overall Experience</p>
    <% @feedback.rating.times do %>
      <span class="fa fa-star star-checked"></span>
    <% end %>
    <% (5-@feedback.rating).times do %>
        <span class="fa fa-star star-unchecked"></span>
    <% end %>
  </div>

 <div>
  <p class="mb-0 mt-2">Veterinarian's ability to answer your questions </p>

  <% @feedback.vet_rating.times do %>
    <span class="fa fa-star star-checked"></span>
  <% end %>
  <% (5-@feedback.vet_rating).times do %>
      <span class="fa fa-star star-unchecked"></span>
  <% end %>
 </div>

 <div>
  <p class="mb-0 mt-2">Likeliness to refer a friend</p>

  <% @feedback.friend_rating.times do %>
    <span class="fa fa-star star-checked"></span>
  <% end %>
  <% (5-@feedback.friend_rating).times do %>
      <span class="fa fa-star star-unchecked"></span>
  <% end %>
 </div>

 <div>
  <p class="mb-1 mt-3">Additinal comments</p>
  <% if @feedback.comment.present? %>
    <p class="small-font">"<i><%= @feedback.comment %></i>"</p>
  <% else %>
    <p class="small-font">No additional comments were provided.</p>
  <% end %>
 </div>

</div>
