.badge-specialties {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: lighter;
  line-height: 1;
  color: $darkblue;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50rem !important;
  background-color: $gray;
}
