// HOME PAGE

.action-button {
  border-radius: 50px;
  color: $cream;
  border-color: $darkblue;
  margin-top: 3rem;
  background-color: $darkblue;
}

.send-button, .end-button {
  border-radius: 50px;
  color: $cream;
  border-color: $darkblue;
  background-color: $darkblue;
}

.pet-button {
  border-radius: 50px;
  color: $cream;
  border-color: $darkblue;
  margin-top: 1rem;
  background-color: $darkblue;
  font-size: medium;
}


.btn-form {
  background-color: $tealslate;
  color: $cream;
}

.btn-link-faint {
  opacity: 0.7;
  display: block;
}

.banner-button {
  text-decoration: none;
  color: $cream;
}

.banner-button:hover {
  color: $cream;
}

.star-checked {
 color: $cream;
}

.star-unchecked {
  color: $gray;
 }


 .pay-btn {
   width: 95%;
   background-color: $tealslate;
   color: $cream;
   border-radius: 25px;
   position: absolute;
   bottom: 15px;
   left: 8px;
 }
