@import "variables";

// @media only screen
//   and (min-device-width: 375px)
//   and (max-device-width: 812px)
//   and (-webkit-min-device-pixel-ratio: 3) {
//     .container {
//       padding-right: $spacing-containter-right;
//       padding-left: $spacing-containter-left;
//     }
// }

.app-container {
  padding-right: $spacing-containter-right;
  padding-left: $spacing-containter-left;
  padding-top: 98px  ;
}

#recent-consultations-container{
  margin-top: 1rem;
  margin-bottom: 9rem;

  a {
    color: $darkblue;
  }
}

.container-small {
 max-width: 540px;
 margin-left: auto;
 margin-right: auto;
}

.container-center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.navbar-fix {
  position: fixed;
  z-index: 10;
}

#container-profile-body {
  padding-top: 188px;
}
