// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 0px;
}

// To style the message itself
.sender-style, .receiver-style {
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 85%;
  margin-top: 12px;
  margin-bottom: 15px;
  padding: 1px 20px;
  padding-top: 10px;
  word-break: break-word;
}

.sender-style {
  background-color: #F1E8D0;
  color: $darkblue;
}

.sender-style .avatar-chat {
  left: auto;
	right: 2px;
}

.receiver-style {
  background-color: $darkblue;
  color: $cream;
  text-align: end;
}

.chat-image {
  border-radius: 25px;
  padding: 10px;
}

.avatar-chat {
	border-radius: 50px;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.7);
	object-fit: cover;
	position: absolute;
	left: 10px;
	top: -10px;
	width: 50px;
	height: 50px;
}

.chat-message {
  font-size: 14px;
}

.receiver-style .avatar-chat {
  left: 0px;
}

.sender-style .message-bubble {
  padding-right: 25px;
}

.receiver-style .message-bubble {
  padding-left: 25px;
}
