
@import "variables";

.main-title {
  color: $cream;
  text-decoration: none;
  font-size: 2.3rem;
  font-family: $headers-font;
  font-weight: bold;
}

a:hover{
  color: $cream;
}

.nav-item {
  padding: 0 18px;
}

.dropdown-item{
  font-size: 1.2rem;
  font-family: $body-font;
  font-weight: light;
  color: $cream;
}

.dropdown-item:hover {
  background-color: $tealslate;
  color: $cream;
}

.navbar-nav {
  text-align: center;
}

svg {
  width: 50px;
  fill: $cream;
  padding-right: 10px;
}


.navbar-extension {
  // background-color: $tealslate;
  width: 100vw;
  margin-left: calc(-1 * #{$spacing-containter-left});
  padding-bottom: 56px;
  padding-top: 16px;
  border-radius: 0 0 46px 46px;
  background: linear-gradient(180deg, $tealslate 0%, rgba(84, 128, 136, 0.697594) 53.43%, rgba(84, 128, 136, 0) 176.68%);

  #user-information {
    margin-left: 4rem;
    color: $cream;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }

  .smaller-font {
    font-size: 0.6rem;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
    color: black;

  }
}
