.notification-bar {
  justify-content: center;
  background-color: #AEDBCD;
  border-radius: 8px;
  cursor: pointer;
  color: #5d5d5d;
  padding: 1px;
}

.text-notification {
  margin: 0 auto;
}

.notification-message{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
