<h1>Thank you!</h1>
<h3>Consultation receipt</h3>

Vet: <%= User.where(id: @consultation.vet_id).name %>
Price: <%= @receipt.first.price_cents %>
<% @consultation.feedbacks if @consultation.feedbacks %>
